h1{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: burlywood;
    text-align: left;
    margin:0px;
    overflow: hidden;
}

.navbar a{
    color:black;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

.navbar a:hover{
    background-color: white;
}

.navbar li{
    float: left;
}

